@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0% 25%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #13253B, #0F172A);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}


h1 {
  font-size: 1.5rem;
}

h2 {
  color: #FFF;
  font-size: 1.2rem;
  
}

h3 {
  color: #0BA4E8;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0rem;
  font-weight: bold;
  
}

h6 {
  font-size: 1rem;
}

p,
li {
  color: #95A3B9;
  line-height: 1.5rem;
  font-family: "Poppins", serif;
  padding: 1rem 0rem;
  font-size: 1.0rem;
}

ol,
ul {
  padding-left: 1.5rem;
}
a {
  color: #FFF;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}


strong {
  color: #95A3B9;
}

blockquote {
  color: #F571B7;
}




/* Dev Documentation mdBook Blog */

.mdbooklink {
  color: #F9DC5C;
  font-size: 1.2rem;
}

.mdbook-documentation-link {
  color: #F9DC5C;
  font-size: 1.2rem;
}

/* Dev Documentation mdBook Blog End */

/* Jamstack Blog */

.jamstack-link strong {
  color: #F9DC5C;
  font-size: 1.2rem;
}

.jamstack-link-bottom {
  color: #F9DC5C;
  font-size: 1.2rem;
}


/* Jamstack Blog End */

/* Styled Components Blog */

.Slug_content__EoSjt img {
  
  height: 300px;
  width: 550px;
}

@media screen and (max-width: 768px) {
  .Slug_content__EoSjt img {
    height: 200px;
    width: 550px;
  }
}

.styledcomponents-link {
  color: #F9DC5C;
  font-size: 1.2rem;
}

/* Styled Components Blog End */






@media screen and (max-width: 768px) {
  body {
    margin: 0% 0%;
  }
  nav {
    padding: 3rem 0rem;
  }
}